input[type='search'], input[type='text'] {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

blockquote {
  border-left: var(--theme-foreground-alt) 3pt solid;
  border-radius: 3px;
  padding-left: 20px;
  color: var(--theme-foreground-alt);
}
