* {
  font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

input[type='search'], input[type='text'] {
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

blockquote {
  border-left: var(--theme-foreground-alt) 3pt solid;
  border-radius: 3px;
  padding-left: 20px;
  color: var(--theme-foreground-alt);
}
